.header {
    text-align: center;
    border-bottom: 2px solid pink;
    display: inline-block;
    border: 2px solid pink;
    position: absolute;
    background-color: pink;
    right: 24vw;
    top: 30%;
    border-radius: 20px;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(238, 116, 136);
}